form{
	display: table;
	width:300px;
}

.controles_ingreso, .controles_evento{
	display:table-row;
	line-height: 32px;
}

.controles_ingreso label, .controles_ingreso input{
	display: table-cell;
}

.controles_evento button{
	left: 100%;
    position: relative;
	margin-top: 10px;
}

.error{
	background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px;
}